/* Reset CSS */
* {
  margin: 0; /* Elimina los márgenes predeterminados */
  padding: 0; /* Elimina el relleno predeterminado */
  box-sizing: border-box; /* Asegura que el tamaño total incluya el relleno y el borde */
}
/* Estilos Globales */
body {
  font-family: 'Arial', sans-serif; /* Fuente predeterminada */
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  line-height: 1.6; /* Altura de línea */
  padding-top: 70px; /* Añadir un relleno superior para evitar que el contenido se superponga con el menú */
}


/* Encabezados */
h1, h2, h3 {
  font-weight: bold;
  user-select: none;
}

h1 {
  margin-top: 50px;
  font-size: 36px; /* Tamaño de fuente para h1 */
  text-align: center;
}

h2 {
  font-size: 24px; /* Tamaño de fuente para h2 */
  text-align: center;
  
}

h3 {
  font-size: 18px; /* Tamaño de fuente para h3 */
}

/* Secciones */
.section {
  padding: 50px 0; /* Relleno superior e inferior de las secciones */
}

/* Pie de página */
.footer {
  background-color: #333; /* Color de fondo del pie de página */
  color: #fff; /* Color del texto del pie de página */
  text-align: center; /* Alineación del texto */
  padding: 20px 0; /* Relleno superior e inferior del pie de página */
}

/* Efecto Parallax */
.parallax {
  background-attachment: fixed; /* Fondo fijo al desplazarse */
  background-position: center; /* Posición del fondo */
  background-repeat: no-repeat; /* No repetir el fondo */
  background-size: cover; /* Cubrir todo el contenedor */
  height: 100vh; /* Altura del 100% de la ventana */
}

/* Efectos de Animación */
@keyframes fadeIn {
  from {
    opacity: 0; /* Opacidad inicial */
  }
  to {
    opacity: 1; /* Opacidad final */
  }
}

.fade-in {
  animation: fadeIn 1s ease; /* Animación de fundido en 1 segundo */
}

